
body {
    background: #652333;
    font-family: Arial;
}
h1 {
    color: red;
}
/* xDkkYEtzcyPXivJ8Y7tXuajdFqw94xN6WcdAdosbgfPRqCu4p0JiMaUvQTKruWk3CygHdN9nLqvxQ1Zg4Y1wmGpE99Mq6dW2RQ8zYNZL7IJ0JYmuuRvWLrGfm5XCghCGX5yqgYyPGzhXbNkfnCrncmi6QyLZuPrWeCD9hNQE8LgiwhSzrpNmAYEluO4wQ0sNNVo2umy1 */
